/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

/*booksページの記述*/
header {
}

header>h1{
  padding:20px 0 0 20px;
}

.book_item{
  margin-left:20px;
}

.book_item h5{
  display: inline-block;
}

.subtitle1{
  padding:0 60px;
}

.subtitle2{
  padding:0 200px;
}

.book_index{
  margin-left:20px;
  display: inline-block;
}

.book_title{
  display: inline-block;
  width:200px;
  font-size: 12px;
}

.book_body{
  display: inline-block;
  width: 400px;
  font-size: 12px;
}

.book_link{
  display: inline-block;
}

.book_link a{
  display: inline-block;
  font-size: 12px;
  padding-right: 10px;
}

.new_book{
  margin:20px 0 0 20px;
}

.new_book h2{
  padding-bottom: 10px;
}

.new_subtitle{
  font-size: 15px;
}

.new_button{
 margin-top: 10px;
}

.new_button a{
  text-decoration: none;
  font-size: 12px;
  border:solid 1px;
  padding:1px 3px;
  border-radius: 5px;
  background-color: #e5e5e5;
}



/*Editページの記述*/
.edit_date{
  margin-left: 20px;
}

.edit_title{
  font-size: 12px;
}

.edit_body{
  font-size: 12px;
}

.edit_button{
  display: block;
  margin:10px 20px;
}

.edit_link a{
  display:inline-block;
  font-size: 12px;
}

.edit_link p{
  display:inline-block;
  font-size: 12px;
}

.edit_link{
  margin-left: 20px;
}


/*showページの記述*/
.show_subtitle{
  padding-left: 50px;
}

.show_subtitle h5{
  padding-top: 30px
}

.show_link a{
  display:inline-block;
  font-size: 12px;
}

.show_link p{
  display:inline-block;
  font-size: 12px;
}

.show_link{
  margin:30px 0 0 20px;
}